$primary-color: #ff6060;
$second-color: white;
$third-color: #f6f6f6;

.header {
  margin: 1.5rem 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  &-el {
    padding-left: 1rem;
  }
}

main {
  margin: 0 6.25rem;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // position: absolute;
  // left: 0;
  // bottom: 0;
  // right: 0;
  height: 12.5rem;

  width: 100%;
  &-text {
    color: $second-color;
  }
  &-img {
    width: 7.6rem;
  }
}

.errorSection {
  color: $primary-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  &-num {
    font-size: 15rem;
    font-weight: bold;
  }
  &-text {
    font-size: 2.25rem;
  }
  &-link {
    margin: 10rem 0;
    font-size: 1.1rem;
  }
}

.homeHeader {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  height: 14rem;
  position: relative;
  &-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(60%);
  }
  &-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $second-color;
    font-size: 3rem;
    margin: 0;
    white-space: nowrap;
  }
}

.thumbContainer {
  background-color: $third-color;
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width: 21.25rem;
  height: 21.25rem;
  overflow: hidden;
  margin: 2rem;
  position: relative;
  border-radius: 0.6rem;
  transition: all 0.5s 0s ease;
  cursor: pointer;

  &-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(70%);
  }
  &-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $second-color;
    font-size: 1.1rem;
    margin: 1rem;
  }
}

.thumbnail:hover {
  transform: scale(1.1);
}

.infoAcc {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title {
      color: $primary-color;
      margin: 0;
      font-size: 2.25rem;
    }
    &-location {
      color: $primary-color;
      font-size: 1.1rem;
    }
    &-tagContainer {
      display: flex;

      &-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 115px;
        padding: 0.5rem;
        background-color: $primary-color;
        color: $second-color;
        border-radius: 0.6rem;
        font-size: 0.9rem;

        margin: 1rem 1rem 1rem 0;

        // min-width: 7.1rem;
      }
    }
  }
}

.infoOwner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-container {
    display: flex;
    align-items: center;
    &-name {
      text-align: right;
      margin-right: 0.4rem;
      color: $primary-color;
      font-size: 1.1rem;
    }
    &-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }
  &-starsContainer {
    display: flex;
    margin-bottom: 1rem;
    justify-content: end;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 26rem;
  border-radius: 1.5rem;
  display: flex;
  overflow: hidden;

  &-activeSlide,
  &-activeSlideSolo,
  &-nextSlide,
  &-prevSlide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s linear;
  }

  &-activeSlideSolo {
    z-index: 100;
  }

  &-nextSlide {
    transform: translateX(100%);
    opacity: 0;
  }
  &-prevSlide {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 8rem;
  transform: translateY(-50%);
  background: none;
  color: $second-color;
  border: none;
  padding: 0;
  cursor: pointer;
}
.prev {
  left: 0;
}

.next {
  right: 0;
}

.indexImg {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $second-color;
  font-size: 1.1rem;
  z-index: 100;
}

.starFilled {
  color: red;
  font-size: 2rem;
}

.starEmpty {
  color: grey;
  font-size: 2rem;
}

.collapse {
  background: $third-color;
  border-radius: 0.3rem;
  margin: 2rem 0;
  &-header {
    display: flex;
    color: $second-color;

    background-color: $primary-color;
    justify-content: space-between;
    border-radius: 0.3rem;
    padding: 0.4rem 1.1rem;
    &-title {
      font-size: 1.5rem;
      margin: 0;
      font-weight: 500;
    }
    &-btn {
      cursor: pointer;
      background: none;
      border: none;
    }
  }
  &-info {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.125rem;
    display: flex;
    flex-direction: column;
  }
}

.chevronDown {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: 150ms ease-in-out;
}

.chevron {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 150ms ease-in-out;
}

.collapseContainerAcc {
  display: flex;
  justify-content: space-between;
  &-div {
    width: 45%;
  }
}
