body {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.header {
  margin: 1.5rem 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-el {
  padding-left: 1rem;
  color: #ff6060;
  text-decoration: none;
}

.navbar-el:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

main {
  margin: 0 6.25rem;
}

.footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12.5rem;
  width: 100%;
}

.footer-text {
  color: white;
}

.footer-img {
  width: 7.6rem;
}

.errorSection {
  color: #ff6060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.errorSection-num {
  font-size: 15rem;
  font-weight: bold;
}

.errorSection-text {
  font-size: 2.25rem;
}

.errorSection-link {
  color: #ff6060;
  margin: 10rem 0;
  font-size: 1.1rem;
}

.homeHeader {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  height: 14rem;
  position: relative;
}

.homeHeader-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(60%);
          filter: contrast(60%);
}

.homeHeader-title {
  position: absolute;
  color: white;
  font-size: 3rem;
  margin: 0;
}

@media only screen and (min-width: 1016px) {
  .homeHeader {
    height: 14rem;
  }
  .homeHeader-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
    white-space: nowrap;
  }
}

.thumbContainer {
  background-color: #f6f6f6;
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumbnail {
  width: 21.25rem;
  height: 21.25rem;
  overflow: hidden;
  margin: 2rem;
  position: relative;
  border-radius: 0.6rem;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  cursor: pointer;
}

.thumbnail-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
}

.thumbnail-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 1.1rem;
  margin: 1rem;
}

.thumbnail:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.infoAcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoAcc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoAcc-container-title {
  color: #ff6060;
  margin: 0;
  font-size: 2.25rem;
}

.infoAcc-container-location {
  color: #ff6060;
  font-size: 1.1rem;
}

.infoAcc-container-tagContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoAcc-container-tagContainer-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  padding: 0.5rem;
  background-color: #ff6060;
  color: white;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  margin: 1rem 1rem 1rem 0;
}

.infoOwner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoOwner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoOwner-container-name {
  text-align: right;
  margin-right: 0.4rem;
  color: #ff6060;
  font-size: 1.1rem;
}

.infoOwner-container-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.infoOwner-starsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 26rem;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.imgContainer-activeSlide, .imgContainer-activeSlideSolo, .imgContainer-nextSlide, .imgContainer-prevSlide {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.imgContainer-activeSlideSolo {
  z-index: 100;
}

.imgContainer-nextSlide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.imgContainer-prevSlide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 8rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.indexImg {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 1.1rem;
  z-index: 100;
}

.starFilled {
  color: #ff6060;
  font-size: 2rem;
}

.starEmpty {
  color: #e3e3e3;
  font-size: 2rem;
}

.collapse {
  background: #f6f6f6;
  border-radius: 0.3rem;
  margin: 2rem 0;
}

.collapse-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  cursor: pointer;
  background-color: #ff6060;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3rem;
  padding: 0.4rem 1.1rem;
}

.collapse-header-title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}

.collapse-header-btn {
  cursor: pointer;
  background: none;
  border: none;
}

.collapse-info {
  color: #ff6060;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chevronDown {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.chevron {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.collapseContainerAcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collapseContainerAcc-div {
  width: 45%;
}

.aboutHeader {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  height: 14rem;
  position: relative;
}

.aboutHeader-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(60%);
          filter: contrast(60%);
}

@media only screen and (min-width: 1016px) {
  .collapseContainerAbout {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 1016px) {
  .logoHeader {
    width: 9rem;
  }
  .header {
    margin: 1.25rem;
  }
  main {
    margin: 1.25rem;
  }
  .footer-text {
    font-size: 0.7rem;
  }
  .homeHeader {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    height: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeHeader-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: contrast(60%);
            filter: contrast(60%);
  }
  .homeHeader-title {
    font-size: 1.5rem;
    margin: 1.1rem;
  }
  .thumbContainer {
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    border-radius: 1.5rem;
  }
  .thumbnailLink {
    width: 100%;
  }
  .thumbnail {
    width: 100%;
    height: 16rem;
    margin: 0.7rem 0;
  }
  .imgContainer {
    height: 16rem;
    border-radius: 1.5rem;
  }
  .prev,
  .next {
    font-size: 2rem;
  }
  .indexImg {
    display: none;
  }
  .infoAcc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .infoAcc-container-title {
    font-size: 1.125rem;
    font-weight: 500;
  }
  .infoAcc-container-location {
    font-size: 0.9rem;
  }
  .infoAcc-container-tagContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .infoAcc-container-tagContainer-tag {
    padding: 0.4rem 0;
    font-size: 0.6rem;
  }
  .infoOwner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infoOwner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .infoOwner-container-name {
    font-size: 0.7rem;
    width: 5rem;
  }
  .infoOwner-container-img {
    width: 2rem;
    height: 2rem;
  }
  .infoOwner-starsContainer {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .starFilled,
  .starEmpty {
    font-size: 0.9rem;
  }
  .collapseContainerAcc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .collapseContainerAcc-div {
    width: 100%;
  }
  .collapse {
    margin: 0.6rem 0;
  }
  .collapse-header {
    padding: 0.2rem 0.4rem;
  }
  .collapse-header-title {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 500;
  }
  .collapse-info {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
  .chevronDown {
    width: 0.7rem;
  }
  .chevron {
    width: 0.7rem;
  }
  .errorSection {
    margin-top: 5rem;
  }
  .errorSection-num {
    font-size: 6rem;
  }
  .errorSection-text {
    font-size: 1.1rem;
  }
  .errorSection-link {
    margin: 5rem 0;
    font-size: 0.9rem;
  }
  .navbar-el {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 1412px) and (min-width: 1016px) {
  .thumbContainer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */